.password {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  width: 20rem;
  margin: 0.4rem auto;
  background-color: #24232c;
}
.password_text {
  padding-inline-start: 0.6rem;
  color: #e6e5ea;
}
.password_copied {
  padding-right: 0.5rem;
}
.copied {
  padding: 0 0.5rem;
  color: #a4ffaf;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.9rem;
}
.copiedIcon {
  color: #a4ffaf;
  cursor: pointer;
}
.copiedIcon:hover {
  color: #a4ffafad;
  transform: scale(1.3);
}

.dummyPassword {
  opacity: 0.4;
}
